* {
  font-family: "GmarketSans";
}

#music {
  width: 100vw;
  height: 100vh;
  background: #d6d6d6;
  display: grid;
  grid-template-areas:
    "a1 a2 a2 a2"
    "b1 b2 b2 b2"
    "b1 b2 b2 b2"
    "d1 d2 d3 d4";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  overflow: hidden;
  gap: 1px;
  transition: background 0.7s 0.5s;
  pointer-events: none;
}
#music.btnon {
  pointer-events: auto;
}
#music.load {
  background: #d6d6d6;
}
#music.load.pagemove {
  background: #000;
}
#music.close {
  animation: close 0.7s 1.5s forwards;
}
@keyframes close {
  0% {
    background: #d6d6d6;
  }
  100% {
    background: #000;
  }
}
#music > div {
  background: #fff;
  overflow: hidden;
  position: relative;
}
#music > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  animation: open 0.7s 1s forwards;
}
#music > div.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  animation: bye 0.7s forwards;
}
@keyframes bye {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes open {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
#music > div:nth-child(1) {
  grid-area: a1;
}
#music > div:nth-child(2) {
  grid-area: a2;
}
#music > div:nth-child(3) {
  grid-area: a3;
}
#music > div:nth-child(4) {
  grid-area: a4;
}
#music > div:nth-child(5) {
  grid-area: b1;
}
#music > div:nth-child(6) {
  grid-area: b2;
  background-image: url(../img/musicplayer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#music > div:nth-child(7) {
  grid-area: b3;
}
#music > div:nth-child(8) {
  grid-area: b4;
}
#music > div:nth-child(9) {
  grid-area: c1;
}
#music > div:nth-child(10) {
  grid-area: c2;
}
#music > div:nth-child(11) {
  grid-area: c3;
}
#music > div:nth-child(12) {
  grid-area: c4;
}
#music > div:nth-child(13) {
  grid-area: d1;
}
#music > div:nth-child(14) {
  grid-area: d2;
}
#music > div:nth-child(15) {
  grid-area: d3;
}
#music > div:nth-child(16) {
  grid-area: d4;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.pagenum {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0;
  animation: start 0.3s 1.6s forwards;
}
@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pagenum a {
  margin-right: 6px;
  transition: all 0.5s ease;
}
.pagenum a:nth-child(2):hover .w2,
.pagenum a:nth-child(3):hover .w3 {
  display: none;
}
.pagenum a:nth-child(2):hover .b2,
.pagenum a:nth-child(3):hover .b3 {
  display: inline-block;
}
.w1,
.b2,
.b3 {
  display: none;
}
#music h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 700;
}
.lh_1 {
  line-height: 1;
}
.lh_75 {
  line-height: 0.75;
}
.lh_160 {
  line-height: 1.6;
}
#music .h1 {
  display: flex;
  align-items: flex-end;
}
#music .black {
  background: #000;
  color: #fff;
}
.font_cho {
  font-family: "ChosunNm";
}
.fz20 {
  font-size: 20px;
}
#music h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline;
}
.p {
  font-family: "ChosunNm";
  font-size: 18px;
  line-height: 1.6;
}
.movelink {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.movelink h2 {
  float: left;
  margin-right: 100px;
}
.movelink img {
  float: left;
}
