* {
  font-family: "GmarketSans";
}

#react {
  width: 100vw;
  height: 100vh;
  background: #d6d6d6;
  display: grid;
  grid-template-areas:
    "a1 a1 a3 a4"
    "b1 b2 b3 b3"
    "c1 c1 b3 b3"
    "c1 c1 d3 d4";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  overflow: hidden;
  gap: 1px;
  transition: background 0.7s 0.5s;
  pointer-events: none;
}
#react.btnon {
  pointer-events: auto;
}
#react.load {
  background: #d6d6d6;
}
#react.load.pagemove {
  background: #000;
}
#react.close {
  animation: close 0.7s 1.5s forwards;
}
@keyframes close {
  0% {
    background: #d6d6d6;
  }
  100% {
    background: #000;
  }
}
#react > div {
  background: #fff;
  overflow: hidden;
  position: relative;
}
#react > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  animation: open 0.7s 1s forwards;
}
#react > div.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  animation: bye 0.7s forwards;
  z-index: 9999;
}
@keyframes bye {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes open {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
#react > div:nth-child(1) {
  grid-area: a1;
}
#react > div:nth-child(2) {
  grid-area: a2;
}
#react > div:nth-child(3) {
  grid-area: a3;
}
#react > div:nth-child(4) {
  grid-area: a4;
}
#react > div:nth-child(5) {
  grid-area: b1;
}
#react > div:nth-child(6) {
  grid-area: b2;
}
#react > div:nth-child(7) {
  grid-area: b3;
  background-image: url(../img/reactsite.jpg);
  width: 100%;
  height: 100%;
}
#react > div:nth-child(8) {
  grid-area: b4;
}
#react > div:nth-child(9) {
  grid-area: c1;
  transition: all 0.3s ease;
}
#react > div:nth-child(9).scroll {
  overflow-y: auto;
}
#react > div:nth-child(9).scroll::-webkit-scrollbar {
  width: 1px;
}
#react > div:nth-child(10) {
  grid-area: c2;
}
#react > div:nth-child(11) {
  grid-area: c3;
}
#react > div:nth-child(12) {
  grid-area: c4;
}
#react > div:nth-child(13) {
  grid-area: d1;
}
#react > div:nth-child(14) {
  grid-area: d2;
}
#react > div:nth-child(15) {
  grid-area: d3;
}
#react > div:nth-child(16) {
  grid-area: d4;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.pagenum {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0;
  animation: start 0.3s 1.6s forwards;
}
@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pagenum a {
  margin-right: 6px;
  transition: all 0.5s ease;
}
.pagenum a:nth-child(2):hover .w2 {
  display: none;
}
.pagenum a:nth-child(2):hover .b2 {
  display: inline-block;
}
.w1,
.b2 {
  display: none;
}

#react h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.5;
  margin-left: -6px;
}
.lh_1 {
  line-height: 1;
}
.lh_75 {
  line-height: 0.75;
}
.lh_160 {
  line-height: 1.6;
}
#react .h1 {
  display: flex;
  align-items: flex-end;
}
#react .black {
  background: #000;
  color: #fff;
}
.font_cho {
  font-family: "ChosunNm";
}
.fz20 {
  font-size: 20px;
}
#react h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  display: inline;
}
.p {
  font-family: "ChosunNm";
  font-size: 18px;
  line-height: 1.6;
}
.movelink {
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: all 0.1s;
}
.movelink h2 {
  float: right;
  margin-left: 100px;
}
.movelink img {
  float: right;
}
.movelink:hover {
  opacity: 0.5;
}
.code {
  opacity: 0;
  transition: opacity 0.5 ease;
}
.code.start {
  opacity: 1;
}
.point {
  transition: all 0.1s;
}
.point:hover {
  opacity: 0.5;
}
.descbox img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.desc_image {
  width: 100%;
  height: 22.5vw;
  border: 1px solid #cdcdcd;
}
.desc_image2 {
  width: 40vw;
  height: 104.6vw;
  margin: 1vw 4vw;
  border: 1px solid #cdcdcd;
}
.desc_image3 {
  width: 40vw;
  height: 104.6vw;
  margin: 1vw 4vw;
  border: 1px solid #cdcdcd;
}
.desc_image4 {
  width: 40vw;
  height: 104.6vw;
  margin: 1vw 4vw;
  border: 1px solid #cdcdcd;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.prl {
  padding: 0 1vw;
}
#react h3 {
  font-weight: 300;
  font-size: 2.6vw;
  text-transform: uppercase;
}
