* {
  font-family: "GmarketSans";
}

#react__wrap {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: grid;
  grid-template-areas:
    "a1 a1 a3 a4"
    "b1 b2 b3 b3"
    "c1 c1 b3 b3"
    "c1 c1 d3 d4";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  overflow: hidden;
}

.a1,
.a3,
.a4,
.b1,
.b2,
.b3,
.c1,
.d3,
.d4 {
  border: 0.5px solid rgb(233, 232, 232);
  overflow: hidden;
}
.a1 {
  grid-area: a1;
  position: relative;
  padding: 20px;
}
.a1 ol {
  position: absolute;
  display: flex;
}
.a1 ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 34px;
  border: 1px solid black;
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 2.2; 
}
.a1 ol li.active {
  color: #fff;
  background: #000;
}
.a1 h1 {
  position: absolute;
  font-weight: 700;
  font-size: 130px;
  bottom: 0;  
}
.a3 {
  grid-area: a3;
  position: relative;
}
.a3 a,
.a4 a {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  
}
.a3 span,
.a4 span {
font-weight: 300;
font-size: 40px;
float: right;
margin-bottom: 5px;
padding-left: 200px;
}
.a3 img,
.a4 img {
float: right;
}
.a4 {
  grid-area: a4;
  position: relative;
}
.b1 {
  grid-area: b1;
  position: relative;
  padding: 25px;
  
}
.b1 h2,
.d3 h2,
.d4 h2
 {
  font-weight: 300;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}
.b1 p,
.d3 p,
.d4 p
 {
  font-family: "ChosunNm";
  font-size: 20px;
}
.b2 {
  grid-area: b2;
}
.b3 {
  grid-area: b3;
  background-image: url(../img/reactsite.jpg);
  background-size: cover;
}
.c1 {
  grid-area: c1;
  background: #000;
  padding: 20px;
}
.c1 p {
  color: #fff;
  font-family: "ChosunNm";
  font-size: 25px;
  line-height: 1.5;
}
.d3 {
  grid-area: d3;
  position: relative;
  padding: 25px;
}
.d4 {
  grid-area: d4;
  position: relative;
  padding: 25px;
}
